
    <h1>Mes réalisations </h1>

    <div class="grid">

      <div class="grille-jaune">
        <h3>Quartz Agency</h3>
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
         <div class="realisations">
            <%= link_to "code source"%>
            <%= link_to "voir le site"%>
          </div>
      </div>


      <div class="grille-bleue">
        <h3>Rhéia</h3>
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
          <div class="realisations">
            <%= link_to "code source"%>
            <%= link_to "voir le site"%>
          </div>
      </div>

      <div class="grille-jaune">
        <h3>Porfolio</h3>
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
         <div class="realisations">
            <%= link_to "code source"%>
            <%= link_to "voir le site"%>
          </div>
      </div>

      <div class="grille-bleue">
        <h3>interview des sisters et redaction d'article de blog</h3>
        <%= image_tag("screenshot-ES.png", alt:"image Rheia")%>
         <div class="realisations">
            <%= link_to "code source"%>
            <%= link_to "voir le site"%>
          </div>
      </div>


      <div class="grille-jaune">
        <h3>Campagne de marketing direct</h3>
        <%= image_tag("screenshot-campagneMD.png", alt:"image Rheia")%>
         <div class="realisations">
            <%= link_to "code source"%>
            <%= link_to "voir le site"%>
          </div>
      </div>


      <div class="grille-bleue">
        <h3>??</h3>
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
         <div class="realisations">
            <%= link_to "code source"%>
            <%= link_to "voir le site"%>
          </div>
      </div>
    </div>
