<div class="mySidenav" data-controller="sidenav" >
  <div></div>

  <div class="titre">
    <h1>Alice Bernaud </h1>
  </div>
  <div  data-controller="navbar"  data-navbar-target="openBtn">
    <button class="menu" data-action="click->navbar#openNav" >
      <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
  </div>
  <div class="sidenav" data-controller="navbar"  data-navbar-target="closeBtn">
    <button id="closeBtn" class="close" data-action="click->navbar#closeNav">×</button>
    <ul>
      <li><a href="#">Mes compétences</a></li>
      <li><a href="#">Mes réalisations</a></li>
      <li><a href="#">Mes expériences professionnelles</a></li>
      <li><a href="#">Ma formation</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>


</div>
<div class="presentation">
  <div class="image">
    <%= image_tag("photo_alice.jpeg", alt:"photo de profil") %>
  </div>
  <div class="description">
    <p>Ma passion pour la technologie et ma forte expérience dans la gestion de projet m'ont amenée à suivre une formation en développement web, élargissant ainsi mes compétences techniques afin de prétendre aujourd'hui à un poste de Product Owner ou Product Manager </p>
  </div>
</div>

 <div class="infos-card">
    <div>
      <h1>Mes compétences</h1>
    </div>

    <div class="conteneur">
      <div class="grid infos-card" id="skillsCarousel">
        <h2>Compétences techniques</h2>
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h3>Ruby</h3>
                <div class="logo">
                <%= image_tag("Ruby_logo.svg.png", alt:"logo-ruby")%>
                </div>
                <p>J'ai commencé le code par Ruby et je vous cache pas qu'au début je ne comprenais rien </p>
              </div>

              <div class="carousel-item">
                <h3>Ruby on Rails</h3>
                <div class="logo">
                <%= image_tag("logo-rails.png", alt:"logo-ruby")%>
                </div>
                <p>Ruby on Rails a été un déclique tout de suite les briques se sont assemblé et j'ai compris toutes les fonctionnalités utilisées dans Ruby jusqu'à présent.</p>
              </div>

              <div class="carousel-item">
                <h3>Javascript</h3>
                <div class="logo">
                <%= image_tag("logo-js.svg.png", alt:"logo-ruby")%>
                </div>
                <p>Javascript est le champs des possibles. A la fois un o </p>
              </div>


              <div class="carousel-item">
                <h3>SQL</h3>
                <div class="logo">
                <%= image_tag("sql-logo.png", alt:"logo-ruby")%>
                </div>
              </div>
            </div>


            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>
      </div>

      <div class="grid infos-card">
        <h2>Compétences Gestions de projets</h2>
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h3>Methode Agile</h3>
              </div>

              <div class="carousel-item ">
                <h3>Methode Agile</h3>
              </div>

              <div class="carousel-item ">
                <h3>Methode Agile</h3>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

        </div>
      </div>

     <div class="grid infos-card">
      <h2>Compétences redation d'articles & SEO </h2>
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h3>Google analytics</h3>
              </div>

              <div class="carousel-item ">
                <h3>Rédaction d'article de blog</h3>
              </div>

              <div class="carousel-item ">
                <h3>Methode Agile</h3>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>

    </div>
  </div>

  <div class="infos-card">
    <h1>Mes réalisations </h1>
  </div>
  <div class="conteneur">
      <div class="grid">
        <div class="grille-jaune">
        <h3>Quartz Agency</h3>
        <div class="realisations">
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
        </div>
        </div>
      </div>

      <div class="grid">
        <div class="grille-bleue">
        <h3>Rhéia</h3>
        <div class="realisations">
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
        </div>
        </div>
      </div>

      <div class="grid">
        <div class="grille-jaune">
        <h3>Porfolio</h3>
        <div class="realisations">
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
        </div>
        </div>
      </div>

      <div class="grid">
        <div class="grille-bleue">
        <h3>interview des sisters et redaction d'article de blog</h3>
        <div class="realisations">
        <%= image_tag("screenshot-ES.png", alt:"image Rheia")%>
        </div>
        </div>
      </div>

      <div class="grid">
        <div class="grille-jaune">
        <h3>Campagne de marketing direct</h3>
        <div class="realisations">
        <%= image_tag("screenshot-campagneMD.png", alt:"image Rheia")%>
        </div>
        </div>
      </div>

      <div class="grid">
        <div class="grille-bleue">
        <h3>??</h3>
        <div class="realisations">
        <%= image_tag("screenshot-rheia.png", alt:"image Rheia")%>
        </div>
        </div>
      </div>
  </div>
  <div class="infos-card">
</div>

  <div class="conteneur-2">
    <div>
    <h1>Mes expériences professionnelles</h1>
      <h2>Chef de projet chez DataOnDemand</h2>
    </div>
    <div class="infos-card">
    <h1>Mes formations</h1>
    </div>
  </div>

  <div class="infos-card">
    <h1>Contact </h1>
    <%= image_tag "linkedin.png"%>
    <%= link_to "https://www.linkedin.com/in/alice-bernaud-30aaa488/" %>
    <%= link_to "Envoyer un email" %>
  </div>
</div>
</div>
