<div class="presentation">
  <div class="image">
    <%= image_tag("photo_alice.jpeg", alt:"photo de profil") %>
  </div>
  <div class="description">
    <p>Ma passion pour la technologie et ma forte expérience dans la gestion de projet m'ont amenée à suivre une formation en développement web, élargissant ainsi mes compétences techniques afin de prétendre aujourd'hui à un poste de Product Owner ou Product Manager </p>
  </div>
</div>

  <%= render "pages/competences"%>
  <%= render "pages/realisations"%>
  <%= render "pages/cv"%>
  <%= render "pages/contact"%>
